@import '_variables';

.data {
  font-family: $sans;
  display: block;
  margin: 4.8rem auto 4.8rem;
  max-width: 650px;

  h5 {
    color: $black33;
    font-weight: bold;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
  }

  p.sourceLine {
    font-family: $sans;
  	width: 100%;
  	margin: 0 auto;
    color: $black33;
    font-size: 1.1rem;
  }

  .axis-title {
    fill: $black33;
    font-family: $sans;
    font-size: 1.1rem;
  }

  .axis {
    font-size: 1.1rem;
    fill-color: $black121;
    path {
      stroke: $black121;
    }
  }

  .y.axis .tick line{
    opacity: 0.2;
    stroke-dasharray: 3,3;
  }

  .dot {
    fill: $dmnblue;
    fill-opacity: .65;
    stroke: white;

    &:hover {
      cursor: pointer;
    }
  }

  .trendline {
    stroke: $black33;
    stroke-width: 2;
  }

  .line {
    fill: none;
    stroke: $chartBlue;
    stroke-width: 1.5;
  }

  .focus {
    line.y {
      stroke: $black33;
      stroke-dasharray: 3,3;
      opacity: 0.5;
    }
  }

  circle {
    stroke: $black33;
    fill: $chartBlue;
    opacity: 0.7;
  }

  .tooltip {
    rect {
      stroke: $black33;
      fill: white;
      opacity: 0.9;
    }

    tspan {
      text-anchor: left;
      font-size: 11px;
    }
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }
}

.d3tip {
  line-height: 1.1em;
  // font-weight: bold;
  padding: 10px;
  background: white;
  font-family: $sans;
  font-size: 12px;
  z-index: 10;
  box-shadow: 1.5px 1.5px 3px rgba($black121, .25), -1.5px -1.5px 3px rgba($black121, .25), -1.5px 1.5px 3px rgba($black121, .25), 1.5px -1.5px 3px rgba($black121, .25);
}
.tip-date, #dateSpan {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid $black215;
  margin-bottom: .6rem;
  display: block;
}
#femaleSpan {
  font-weight: bold;
  font-size: 12px;
}

.fem-perct, #femaleCount {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: bold;
  margin-bottom: .3rem;
  display: block;
}
