{%import 'partials/img.html' as img%}

<div class="wide-block image-block three-up clearfix">
  {{img.jpg('portrait-blue', 'Kylia Booker was photographed her sisters’ home in Denton, Texas Monday June 12, 2017. ', sizes='(min-width: 740px) 66vw, 95vw')}}
  {{img.jpg('port-hair', 'Ja’Bria Roland watches her older sister Cenecia Booker get a haircut by shop owner Felicia Griffin at Hair Couture Salon in DeSoto, Texas Friday June 9, 2017. Griffin has known the family since 1992.', sizes='(min-width: 740px) 33vw, 50vw')}}
  {{img.jpg('port-car', 'Kylia Bookers turns around to speak with sister Jessicah Roland while visiting an auto shop with Cenecia Booker in Denton, Texas to inflate a tire for sister Ciarra Booker on Monday June 12, 2017.', sizes='(min-width: 740px) 33vw, 50vw')}}
  <p class="cutline">Kylia Booker was photographed her sisters’ home in Denton, Texas Monday June 12, 2017. Ja’Bria Roland watches her older sister Cenecia Booker get a haircut by shop owner Felicia Griffin at Hair Couture Salon in DeSoto, Texas Friday June 9, 2017. Griffin has known the family since 1992. Kylia Bookers turns around to speak with sister Jessicah Roland while visiting an auto shop with Cenecia Booker in Denton, Texas to inflate a tire for sister Ciarra Booker on Monday June 12, 2017. (Andy Jacobsohn/Staff Photographer)</p>
</div>
