{%import 'partials/img.html' as img%}

<div class="inline-block image-block">
  {{img.jpg('barb', 'Barbara Haflich, Dention ISD district social worker and homeless liaison, at the Denton Independent School District. Haflich helped the Booker sisters stay in the same school while assisting with bus rides, meal and clothes.', sizes='(min-width: 740px) 650px, 95vw')}}
  <p class="cutline">Barbara Haflich, Dention ISD district social worker and homeless liaison, at the Denton Independent School District. Haflich helped the Booker sisters stay in the same school while assisting with bus rides, meal and clothes. (Andy Jacobsohn/Staff Photographer)</p>
</div>
