<div id="phone" class='slideshow clearfix'>
	<div class='slide-container'>
    <div class='slide current' data-srcset='images/phone-slide0-3000.jpg 3000w, images/phone-slide0-2400.jpg 2400w, images/phone-slide0-1800.jpg 1800w, images/phone-slide0-1200.jpg 1200w, images/phone-slide0-600.jpg 600w' data-default='images/phone-slide0-1200.jpg'>
			<img srcset='images/phone-slide0-3000.jpg 3000w, images/phone-slide0-2400.jpg 2400w, images/phone-slide0-1800.jpg 1800w, images/phone-slide0-1200.jpg 1200w, images/phone-slide0-600.jpg 600w' sizes='(min-width: 1500px) 1400px, 90vw' src='images/phone-slide0-1200.jpg' alt='This is cutline 0' />
			<p class='cutline'>This is cutline 1</p>
		</div>
    <div class='slide pre-slide' data-srcset='images/phone-slide1-3000.jpg 3000w, images/phone-slide1-2400.jpg 2400w, images/phone-slide1-1800.jpg 1800w, images/phone-slide1-1200.jpg 1200w, images/phone-slide1-600.jpg 600w' data-default='images/phone-slide1-1200.jpg'>
			<img srcset='images/phone-slide1-3000.jpg 3000w, images/phone-slide1-2400.jpg 2400w, images/phone-slide1-1800.jpg 1800w, images/phone-slide1-1200.jpg 1200w, images/phone-slide1-600.jpg 600w' sizes='(min-width: 1500px) 1400px, 90vw' src='images/phone-slide1-1200.jpg' alt='This is cutline 1' />
			<p class='cutline'>This is cutline 1</p>
		</div>
		<div class='slide pre-slide' data-srcset='images/phone-slide2-3000.jpg 3000w, images/phone-slide2-2400.jpg 2400w, images/phone-slide2-1800.jpg 1800w, images/phone-slide2-1200.jpg 1200w, images/phone-slide2-600.jpg 600w' data-default='images/phone-slide2-1200.jpg'>
			<img srcset='images/phone-slide2-3000.jpg 3000w, images/phone-slide2-2400.jpg 2400w, images/phone-slide2-1800.jpg 1800w, images/phone-slide2-1200.jpg 1200w, images/phone-slide2-600.jpg 600w' sizes='(min-width: 1500px) 1400px, 90vw' src='images/phone-slide2-1200.jpg' alt='This is cutline 2' />
			<p class='cutline'>This is cutline 2</p>
		</div>
		<div class='slide pre-slide' data-srcset='images/phone-slide3-3000.jpg 3000w, images/phone-slide3-2400.jpg 2400w, images/phone-slide3-1800.jpg 1800w, images/phone-slide3-1200.jpg 1200w, images/phone-slide3-600.jpg 600w' data-default='images/phone-slide3-1200.jpg'>
			<img srcset='' sizes='(min-width: 1500px) 1400px, 90vw' src='' alt='This is cutline 3' />
			<p class='cutline'>This is cutline 3</p>
		</div>
		<div class='slide pre-slide' data-srcset='images/phone-slide4-3000.jpg 3000w, images/phone-slide4-2400.jpg 2400w, images/phone-slide4-1800.jpg 1800w, images/phone-slide4-1200.jpg 1200w, images/phone-slide4-600.jpg 600w' data-default='images/phone-slide4-1200.jpg'>
			<img srcset='' sizes='(min-width: 1500px) 1400px, 90vw' src='' alt='This is cutline 4' />
			<p class='cutline'>This is cutline 4</p>
		</div>
		<div class='slide pre-slide' data-srcset='images/phone-slide5-3000.jpg 3000w, images/phone-slide5-2400.jpg 2400w, images/phone-slide5-1800.jpg 1800w, images/phone-slide5-1200.jpg 1200w, images/phone-slide5-600.jpg 600w' data-default='images/phone-slide5-1200.jpg'>
			<img srcset='' sizes='(min-width: 1500px) 1400px, 90vw' src='' alt='This is cutline 5' />
			<p class='cutline'>This is cutline 5</p>
		</div>
		<img class='next-button slide-button' src='images/buttonRight.svg' alt='Click to advance slideshow' />
		<img class='previous-button slide-button' src='images/buttonLeft.svg' alt='Click to rewind slideshow' />
	</div>
</div>
