<div class='slideshow clearfix' id="portraits">
	<div class='slide-container'>
		<div class='slide current' data-srcset='images/port-slide1-3000.jpg 3000w, images/port-slide1-2400.jpg 2400w, images/port-slide1-1800.jpg 1800w, images/port-slide1-1200.jpg 1200w, images/port-slide1-600.jpg 600w' data-default='images/port-slide1-1200.jpg'>
			<img srcset='images/port-slide1-3000.jpg 3000w, images/port-slide1-2400.jpg 2400w, images/port-slide1-1800.jpg 1800w, images/port-slide1-1200.jpg 1200w, images/port-slide1-600.jpg 600w' sizes='(min-width: 1500px) 1400px, 90vw' src='images/port-slide1-1200.jpg' alt='Kylia married last summer, and she and her husband commute to their jobs together. Ja’Bria and her phone are inseparable. (Andy Jacobsohn/Staff Photographer) ' />
			<p class='cutline'>Kylia married last summer, and she and her husband commute to their jobs together. Ja’Bria and her phone are inseparable. (Andy Jacobsohn/Staff Photographer) </p>
		</div>
		<div class='slide pre-slide' data-srcset='images/port-slide2-3000.jpg 3000w, images/port-slide2-2400.jpg 2400w, images/port-slide2-1800.jpg 1800w, images/port-slide2-1200.jpg 1200w, images/port-slide2-600.jpg 600w' data-default='images/port-slide2-1200.jpg'>
			<img srcset='images/port-slide2-3000.jpg 3000w, images/port-slide2-2400.jpg 2400w, images/port-slide2-1800.jpg 1800w, images/port-slide2-1200.jpg 1200w, images/port-slide2-600.jpg 600w' sizes='(min-width: 1500px) 1400px, 90vw' src='images/port-slide2-1200.jpg' alt='Jessicah hopes to enroll in a cosmetology program. Neci is headed for Kuwait this summer with the Air Force. (Andy Jacobsohn/Staff Photographer)' />
			<p class='cutline'>Jessicah hopes to enroll in a cosmetology program. Neci is headed for Kuwait this summer with the Air Force. (Andy Jacobsohn/Staff Photographer)</p>
		</div>
		<div class='slide pre-slide' data-srcset='images/port-slide3-3000.jpg 3000w, images/port-slide3-2400.jpg 2400w, images/port-slide3-1800.jpg 1800w, images/port-slide3-1200.jpg 1200w, images/port-slide3-600.jpg 600w' data-default='images/port-slide3-1200.jpg'>
			<img srcset='' sizes='(min-width: 1500px) 1400px, 90vw' src='' alt='Ciarra’s diabetes has resulted in several recent hospital stays. (Andy Jacobsohn/Staff Photographer)' />
			<p class='cutline'>Ciarra’s diabetes has resulted in several recent hospital stays. (Andy Jacobsohn/Staff Photographer)</p>
		</div>
		<img class='next-button slide-button' src='images/buttonRight.svg' alt='Click to advance slideshow' />
		<img class='previous-button slide-button' src='images/buttonLeft.svg' alt='Click to rewind slideshow' />
	</div>
</div>
