{%import 'partials/img.html' as img%}

<div class="inline-block image-block">
  {{img.jpg('family', 'Malishia Booker’s frequent arrests resulted in her kids sometimes being kept by their grandmother, sometimes by the two youngest girls’ father — and sometimes on their own. (Andy Jacobsohn/Staff Photographer) ', sizes='(min-width: 740px) 650px, 95vw')}}
  <p class="cutline">Malishia Booker’s frequent arrests resulted in her kids sometimes being kept by their grandmother, sometimes by the two youngest girls’ father — and sometimes on their own. (Andy Jacobsohn/Staff Photographer)</p>
</div>
